.layout{
    min-height: 100vh;
    @media only screen  and (max-width:800px){
        min-height:auto;
    }
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;

    .side_bar{
        flex-basis: 400px;
        @media only screen  and (max-width:800px){
            flex-basis: 100%;
        }
    }

    .content{
        background-color: white;
        flex-basis: 50%;
        flex-grow: 1;
        color: black;
    }
}